.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}

p {
  font-size: 20px;
}

img {
  border: 2px solid black;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
  color: red;
}

#introParagraph {
  background-color: lightyellow;
}
